header{

  height: 73px;

  top: 0;
  font-size: 36px;
  font: var(--font-primaire);
  background-color: black;

}

header h1{

  color: white;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}